<%- include("Partials/header"); -%>
<h1>Compose</h1>

  <form class="" action="/compose" method="post">
    <div class="form-group">
    <label class="form-label">Tilte</label>
    <input class="form-control" type="text" name="postTitle" value="">
    <label class="form-label">Post</label>
    <textarea class="form-control"type="text"name="postBody" rows="5" cols="80"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="part">Publish</button>
  </form>














<%-include("Partials/footer");-%>
